{
  "semi": true,           // ставить ; в конце строк
  "singleQuote": false,   // кавычки двойные
  "tabWidth": 2,          // отступы по 2 пробела
  "trailingComma": "none" // не добавлять запятые в конце
}
